

{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "import/no-unresolved": [0, { "caseSensitiveStrict": true }],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".ts", ".tsx", ".json"] }
    ],
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "react/require-default-props": [
      1,
      { "forbidDefaultForRequired": false, "ignoreFunctionalComponents": true }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx", ".json"]
      }
    }
  }
}