@import 'shared/styles/var.scss';

$block-name: 'pfs-scoreboard';

.#{$block-name} {
  max-width: 490px;
  display: flex;
  justify-content: space-between;

  &__item {
    border-radius: 10px;
    border: 1px solid $color-main;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &:nth-child(1) {
      background-color: $color-second-lighter;
      border-color: $color-second-light;

      .#{$block-name} {
        &__name {
          color: $color-second;
        }
      }
    }

    &:nth-child(2) {
      background-color: rgb(255 223 254 / 52%);
      border-color: #e7bce5;

      .#{$block-name} {
        &__name {
          color: #e68de3;
        }
      }
    }

    &:nth-child(3) {
      background-color: rgb(220 224 255 / 52%);
      border-color: #b8beec;

      .#{$block-name} {
        &__name {
          color: #969ed9;
        }
      }
    }

    &:nth-child(4) {
      background-color: rgb(248 237 140 / 22%);
      border-color: #f8ed8c;

      .#{$block-name} {
        &__name {
          color: #dac936;
        }
      }
    }
  }

  &__name {
    @extend %text-main-small;
  }

  &__value {
    @extend %text-main-small;
  }
}
