.form-container {
  display: flex;

  &__img {
    min-width: 350px;
    background: url('./assets/img/form-img-design.png') no-repeat center/cover;
  }

  &__children {
    background: #fff;
    padding: 60px 30px 30px;
  }
}
