@import 'shared/styles/var.scss';

.category-feed {
  &__item {
    text-decoration: none;
  }

  &__photo {
    width: 145px;
    height: 145px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__name {
    margin-top: 5px;
    width: 145px;
    color: $color-main;
    text-align: center;
  }

  &__button-prev,
  &__button-next {
    border: none;
    background: inherit;
    cursor: pointer;

    &_disable {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__button-prev {
    position: absolute;
    top: -20px;
    left: 0;
    transform: rotateZ(180deg);
  }

  &__button-next {
    position: absolute;
    top: -20px;
    left: 30px;
  }

  .slick-list {
    padding-top: 20px;
  }
}
