@import 'shared/styles/var.scss';

$block-name: 'input';

.#{$block-name} {
  position: relative;
  width: 100%;
  cursor: inherit;

  &__container {
    width: inherit;
    position: relative;
  }

  &__input {
    outline: none;
    width: inherit;
    padding: 13px 20px;
    border-radius: 5px;
    border: 1px solid $color-main-light;

    @extend %text-main-small;

    &::placeholder {
      color: $color-main-light;

      @extend %text-main-small;
    }

    &:hover {
      border-color: $color-main;
    }

    &:focus {
      border-color: $color-second;
    }
  }

  &__icon {
    border: none;
    background: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    outline: none;

    &:focus-visible {
      opacity: 0.5;
    }
  }

  &__message {
    position: absolute;
    left: 0;

    @extend %text-main-small;
  }

  &_status-error {
    .#{$block-name} {
      &__input {
        color: $color-danger;
        border-color: $color-danger;
      }
    }
  }

  &_status-positive {
    .#{$block-name} {
      &__input {
        color: $color-main;
        border-color: $color-second;
      }
    }
  }

  &_with-icon {
    .#{$block-name} {
      &__input {
        padding-right: 40px;
      }
    }
  }

  &_readonly {
    .#{$block-name} {
      &__input {
        cursor: inherit;
      }
    }
  }
}
