@import 'shared/styles/var.scss';

.select {
  position: relative;

  &__input {
    cursor: pointer;
  }

  &__sort-input {
    background: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    color: $color-second-light;
    padding-left: 10px;
    width: 50%;
    @extend %text-main;
  }

  &__label {
    display: inline-flex;
    position: relative;
  }

  &__label-text {
    white-space: nowrap;
  }

  &__sort-input-icon {
    border: none;
    background: inherit;
    cursor: pointer;
  }

  &__items {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 14px rgb(66 59 59 / 10%);
    border-radius: 5px;
    max-height: 200px;
    overflow: scroll;
  }

  &__item {
    padding: 15px 30px;
    outline: none;
    cursor: pointer;

    @extend %text-main-small;

    &:hover,
    &:focus-visible {
      background: $color-second-light;
      color: #fff;
      font-weight: 700;
    }
  }

  &_open {
    .select {
      &__items {
        display: block;
      }
    }
  }
}
