@import './var.scss';

html {
  background: $background-main;

  @extend %text-main;
}

html,
body {
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
